<div class="content">
  <div class="container-fluid">
    <div class="card">
      <!-- MAIN CONTAINER -->
      <div class="content">
      <div class="row">
        <div class="col-md-6">
          <h5 class="text-uppercase lead">Models
            <button type="submit" class="btn btn-default pull-right" ng-click="updateModel()">
              Save
            </button>
          </h5>
          <div ng-repeat="model in models | orderBy:'-'" class="panel panel-default">
            <div class="panel-heading" ng-init="show=false" ng-click="show=!show" >
              <div class="row">
                <div class="col-md-8" >
                  <h3 class="panel-title card-header-with-button">
                    {{model.name}}
                  </h3>
                </div>
                <div class="col-md-4">
                  <button ng-click="removeModel(model)" type="submit" class="btn btn-default btn-sm pull-right">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button>
                </div>
              </div>
            </div>
            <div ng-if="show" class="panel-body clickable" ng-click="editModel(model)">
              <pre>{{model | json}}</pre>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h4 ng-if="!editMode" class="text-uppercase">Create model</h4>
          <h4 ng-if="editMode" class="text-uppercase lead">Edit model {{currentModel.name}}</h4>
          <button ng-if="!editMode" type="submit" class="btn btn-default pull-right" ng-click="addModel()">
            Submit
          </button>
          <button ng-click="showCreateFormCode(currentModel)" type="submit" class="btn btn-default pull-right">
            Show create form code
          </button>
          <button ng-click="showListingTableCode(currentModel)" type="submit" class="btn btn-default pull-right">
            Show listing table code
          </button>
          <button ng-click="showUpdateFormCode(currentModel)" type="submit" class="btn btn-default pull-right">
            Show update form code
          </button>
          <button ng-if="editMode" type="submit" class="btn btn-warning pull-right" ng-click="back()">
            Back
          </button>
          <form role="form">
            <div class="form-group">
              <input ng-model="currentModel.name" type="text"
                class="form-control" placeholder="Model name"></input>
            </div>
            <div class="form-group">
              <input ng-model="currentModel.display_name" type="text"
                class="form-control" placeholder="Model display name"></input>
            </div>
            <br>
            <button type="submit" class="btn btn-default" ng-click="addAttribute()">
              Attributes&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-plus"></span>
            </button>
            <br>
            <br>
            <div class="panel panel-default" ng-repeat="(key, attribute) in currentModel.attributes | orderBy: '-'">
              <div class="panel-heading" ng-dblclick="attribute.show=!attribute.show">
                <div class="row">
                  <div class="col-md-8" >
                    <h3 ng-if="attribute.name" class="panel-title text-uppercase card-header-with-button">{{attribute.name}}</h3>
                    <h3 ng-if="!attribute.name" class="panel-title card-header-with-button">New attribute</h3>
                  </div>
                  <div class="col-md-4">
                    <button ng-click="removeAttribute(attribute)" type="submit" class="btn btn-default btn-sm pull-right">
                      <span class="glyphicon glyphicon-trash"></span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="panel-body row" ng-if="attribute.show">
                <div class="form-group col-md-6">
                  <label>Name</label>
                  <input ng-model="attribute.name" class="form-control" placeholder="Name"></input>
                </div>
                <div class="form-group col-md-6">
                  <label>Display name</label>
                  <input ng-model="attribute.display_name" class="form-control" placeholder="Display name"></input>
                </div>
                <div class="form-group col-md-4">
                  <label>Type</label>
                  <input ng-model="attribute.type" class="form-control" placeholder="Type" list="types"></input>
                  <datalist id="types">
                   <option value="string">
                   <option value="integer">
                   <option value="big_integer">
                   <option value="text">
                   <option value="datetime">
                   <option value="boolean">
                   <option value="decimal">
                  </datalist>
                </div>
                <div class="form-group col-md-4">
                  <label>UI type</label>
                  <input ng-model="attribute.ui_type" class="form-control" placeholder="UI type" list="ui-types"></input>
                  <datalist id="ui-types">
                    <option value="text_input">
                    <option value="email_input">
                    <option value="datalist_input">
                    <option value="file_input">
                    <option value="textarea_input">
                    <option value="numeric_input">
                    <option value="selection_input">
                    <option value="date_input">
                    <option value="radio_input">
                    <option value="checkbox_input">
                  </datalist>
                </div>
                <div class="form-group col-md-4">
                  <label>Max</label>
                  <input ng-model="attribute.constraints.max" class="form-control" placeholder="Max"></input>
                </div>
                <div class="form-group col-md-4">
                  <label>Min</label>
                  <input ng-model="attribute.constraints.min" class="form-control" placeholder="Min"></input>
                </div>
                <div class="form-group col-md-8">
                  <label>Pattern</label>
                  <input ng-model="attribute.constraints.pattern" class="form-control" placeholder="Pattern"></input>
                </div>
                <div class="form-group col-md-12">
                  <label>Pattern message</label>
                  <input ng-model="attribute.constraints.pattern_message" class="form-control" placeholder="Pattern message"></input>
                </div>
                <div class="form-group col-md-2">
                  <p>
                    Required
                  </p>
                  <label class="switch">
                    <input type="checkbox" ng-model="attribute.constraints.required">
                    <span class="slider"></span>
                  </label>
                </div>
                <div class="form-group col-md-2">
                  <p>
                    Nullable
                  </p>
                  <label class="switch">
                    <input type="checkbox" ng-model="attribute.constraints.nullable">
                    <span class="slider"></span>
                  </label>
                </div>
                <div class="form-group col-md-2">
                  <p>
                    Unique
                  </p>
                  <label class="switch">
                    <input type="checkbox" ng-model="attribute.constraints.unique">
                    <span class="slider"></span>
                  </label>
                </div>
                <div class="form-group col-md-2">
                  <p>
                    Hidden
                  </p>
                  <label class="switch">
                    <input type="checkbox" ng-model="attribute.hidden">
                    <span class="slider"></span>
                  </label>
                </div>
                <div class="form-group col-md-2">
                  <p>
                    Numeric
                  </p>
                  <label class="switch">
                    <input type="checkbox" ng-model="attribute.constraints.numeric">
                    <span class="slider"></span>
                  </label>
                </div>
                <div class="form-group col-md-2">
                  <p>
                    Email
                  </p>
                  <label class="switch">
                    <input type="checkbox" ng-model="attribute.constraints.email">
                    <span class="slider"></span>
                  </label>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-default" ng-click="addRelationship()">
              Relationships&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-plus"></span>
            </button>
            <br>
            <br>
            <div class="panel panel-default" ng-repeat="(key, relationship) in currentModel.relationships | orderBy: '-'">
              <div class="panel-heading" ng-dblclick="relationship.show=!relationship.show">
                <div class="row">
                  <div class="col-md-8" >
                    <h3 ng-if="relationship.with || relationship.type" class="panel-title text-uppercase card-header-with-button">{{relationship.with}} {{relationship.type}}</h3>
                    <h3 ng-if="!relationship.with && !relationship.type" class="panel-title card-header-with-button">New relationship</h3>
                  </div>
                  <div class="col-md-4">
                    <button ng-click="removeRelationship(relationship)" type="submit" class="btn btn-default btn-sm pull-right">
                      <span class="glyphicon glyphicon-trash"></span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="panel-body row" ng-if="relationship.show">
                <div class="form-group col-md-4">
                  <label>Model</label>
                  <input ng-model="relationship.with" ng-change="updateRelationship()" class="form-control" placeholder="Model name" list="with"></input>
                  <datalist id="with">
                    <option ng-repeat="model in models" value="{{model.name}}">
                  </datalist>

                  <label>Relationship</label>
                  <input ng-model="relationship.type" ng-change="updateRelationship()" class="form-control" placeholder="Type" list="relation-types"></input>
                  <datalist id="relation-types">
                   <option value="many-to-many">
                   <option value="one-to-one">
                   <option value="one-to-many">
                   <option value="many-to-one">
                  </datalist>
                  <label class="switch">
                    Is finite
                    <input type="checkbox" ng-model="relationship.is_finite">
                    <span class="slider"></span>
                  </label>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- END OF MAIN CONTAINER -->
    </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
