<div class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="header">
        <div class="row">
          <div class="col-md-3">
            <h5 style="text-transform: uppercase;" class="title col">Danh sách project</h5>
          </div>
          <div class="col-md-2 pull-right">
            <a data-ng-click="projectCrud.openCreateForm('md')" class="btn btn-sm pull-right my-shadown">
              <i class="fa fa-plus"></i>
              Thêm project
            </a>
          </div>
        </div>
      </div>
      <div class="content table-responsive">
        <table class="table table-hover table-striped">
          <thead>
            <th>STT</th>
            <th>Project</th>
            <th>Khởi tạo</th>
            <th>Cập nhật</th>
            <th>Tác vụ</th>
          </thead>
          <tbody>
            <tr ng-repeat="(key, project) in projects | filter:searchText">
              <td>{{key + 1}}</td>
              <td>{{project.name}}</td>
              <td>{{project.created_at}}</td>
              <td>{{project.updated_at}}</td>
              <td class="col-md-3">
                <div class="row">
                <div class="col-md-4  ">
                  <a href="#/projects/{{project.id}}" class="btn btn-sm btn-block" data-toggle="tooltip" title="Xem">
                    <i class="fa fa-eye"></i>
                  </a>
                </div>
                  <div class="col-md-4">
                    <a ng-click="openUpdateForm(project.id)" class="btn btn-sm btn-block" data-toggle="tooltip" title="Chỉnh sửa">
                      <i class="fa fa-pencil"></i>
                    </a>
                  </div>
                  <div class="col-md-4">
                    <a ng-click="projectCrud.deleteModel(project.id, '')" class="btn btn-sm btn-block" data-toggle="tooltip" title="Xóa project">
                      <i class="fa fa-close"></i>
                    </a>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
