<div>
 <div class="card" style="border: none !important; box-shadow: 0px 0px 0px 0px white !important; padding: 25px 30px 10px 28px;">
  <div class="header">
   <h4 class="title text-uppercase">
    Chủng loại bài viết
   </h4>
  </div>
  <div class="content">
   <form>
    <div class="row">
     <div class="col-md-12">
      <div class="form-group">
       <label>
        Tên
       </label>
       <input class="form-control" name="ten" ng-maxlength="255" ng-model="newChungLoaiBai.ten" required type="text"/>
       <div ng-if="myForm.ten.$dirty" ng-messages="myForm.ten.$error" role="alert" style="color:maroon">
        <div ng-message="maxlength">
         Tên không được quá 255 ký tự
        </div>
        <div ng-message="required">
         Tên là trường bắt buộc
        </div>
       </div>
      </div>
     </div>
    </div>
    <div class="row">
     <div class="col-md-12">
      <div class="form-group">
       <label>
        Tên
       </label>
       <input class="form-control" name="ten" ng-maxlength="255" ng-model="newChungLoaiBai.ten" required type="email"/>
       <div ng-if="myForm.ten.$dirty" ng-messages="myForm.ten.$error" role="alert" style="color:maroon">
        <div ng-message="maxlength">
         Tên không được quá 255 ký tự
        </div>
        <div ng-message="required">
         Tên là trường bắt buộc
        </div>
       </div>
      </div>
     </div>
    </div>
    <div class="row">
     <div class="col-md-12">
      <div class="form-group">
       <label>
        Mô tả
       </label>
       <textarea class="form-control" name="mo_ta" ng-maxlength="500" ng-model="newChungLoaiBai.mo_ta" type="text"></textarea>
       <div ng-if="myForm.mo_ta.$dirty" ng-messages="myForm.mo_ta.$error" role="alert" style="color:maroon">
        <div ng-message="maxlength">
         Mô tả không được quá 500 ký tự
        </div>
       </div>
      </div>
     </div>
    </div>
    <div class="row">
     <div class="col-md-6 col-md-offset-6">
      <button class="btn btn-fill col-md-4 pull-right btn-success" ng-click="modelNameCrud.submitCreateForm(newModelName, '')">
       Lưu
      </button>
      <button class="btn btn-fill col-md-4 pull-right" ng-click="modelNameCrud.dismissCreateForm()" style="margin-right: 0.5rem">
       Trở lại
      </button>
     </div>
    </div>
   </form>
  </div>
 </div>
</div>
