<div>
  <div class="card" style="border: none !important; box-shadow: 0px 0px 0px 0px white !important; padding: 25px 30px 10px 28px;">
    <div class="header">
      <h4 class="title text-uppercase">Cập nhật văn bản</h4>
    </div>
    <div class="content">
      <form>
        <!-- "ten","loai_van_ban_id","tinh_trang_van_ban_id","uri","co_quan_ban_hanh_id","ngay_ban_hanh","ngay_co_hieu_luc","so_luong_bang_in_cho_phep","so_lan_in","mo_ta","so_ky_hieu","con_hieu_luc","ngay_het_hieu_luc","pham_vi_van_ban_id","nganh_id","linh_vuc_id" -->
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Tên văn bản</label>
              <input ng-model="oldVanBan.ten" type="text" class="form-control"></input>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label>Loại văn bản</label>
              <input ng-model="oldVanBan.loai_van_ban" type="text" class="form-control"></input>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label>Tên văn bản</label>
              <input ng-model="oldVanBan.ten" type="text" class="form-control"></input>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-md-offset-6">
            <button ng-click="submitUpdateForm(oldVanBan.id, oldVanBan)" class="btn btn-fill col-md-4 pull-right btn-success">Lưu</button>
            <button style="margin-right: 0.5rem" ng-click="vanBanCrud.dismissCreateForm()" class="btn btn-fill col-md-4 pull-right">Trở lại</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
