<div class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="header">
        <div class="row">
          <div class="col-md-6">
            <h5 style="text-transform: uppercase;" class="title col">Danh sách tình trạng văn bản</h5>
          </div>
          <div class="col-md-2 pull-right">
            <a data-ng-click="tinhTrangVanBanCrud.openCreateForm('md')" class="btn btn-sm pull-right my-shadown">
              <i class="fa fa-plus"></i>
              Thêm tình trạng văn bản
            </a>
          </div>
        </div>
      </div>
      <div class="content table-responsive">
        <table class="table table-hover table-striped">
          <thead>
            <th>STT</th>
            <th>Tên tình trạng văn bản</th>
            <th>Khởi tạo</th>
            <th>Cập nhật</th>
            <th>Tác vụ</th>
          </thead>
          <tbody>
            <tr ng-repeat="(key, tinhTrangVanBan) in tinhTrangVanBans | filter:searchText">
              <td>{{key + 1}}</td>
              <td>{{tinhTrangVanBan.ten}}</td>
              <td>{{tinhTrangVanBan.created_at}}</td>
              <td>{{tinhTrangVanBan.updated_at}}</td>
              <td class="col-md-2">
                <div class="row">
                  <div class="col-md-6">
                    <a ng-click="openUpdateForm(tinhTrangVanBan.id)" class="btn btn-sm btn-block" data-toggle="tooltip" title="Chỉnh sửa">
                      <i class="fa fa-pencil"></i>
                    </a>
                  </div>
                  <div class="col-md-6">
                    <a ng-click="tinhTrangVanBanCrud.deleteModel(tinhTrangVanBan.id, '')" class="btn btn-sm btn-block" data-toggle="tooltip" title="Xóa tình trạng văn bản">
                      <i class="fa fa-close"></i>
                    </a>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
