<div>
  <div class="card" style="border: none !important; box-shadow: 0px 0px 0px 0px white !important; padding: 25px 30px 10px 28px;">
    <div class="header">
      <h4 class="title text-uppercase">Thêm mới biểu mẫu chứng từ</h4>
    </div>
    <div class="content">
      <form>
        <div class="alert alert-danger" ng-show="errMsg">
          <span>{{ errMsg }}</span>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Tên biểu mẫu chứng từ</label>
              <input ng-model="newBieuMauChungTu.ten" type="text" class="form-control"></input>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Số ký hiệu</label>
              <input ng-model="newBieuMauChungTu.so_ky_hieu" type="text" class="form-control"></input>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
             <div class="form-group">
               <label>Máy tin</label>
               <select class="form-control" ng-model="newBieuMauChungTu.may_in_id"
                        ng-options="mayIn.id as mayIn.ten for mayIn in mayIns">
                 <option value=""></option>
               </select>
             </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
             <div class="form-group">
               <label>Kích thước trang giấy</label>
               <select class="form-control" ng-model="newBieuMauChungTu.page_size_id"
                        ng-options="pageSize.id as pageSize.ky_hieu for pageSize in pageSizes">
                 <option value=""></option>
               </select>
             </div>
          </div>
        </div>
        <div class="row">
           <div class="col-md-6">
             <label>Tải phôi file</label>
             <input class="form-control-file btn btn-fill" type="file" ngf-select ng-model="fileBieuMauChungTu.file" name="file"
               accept="images/*" ngf-max-size="5MB"
                 ngf-model-invalid="errorFile">
             <i ng-show="fileBieuMauChungTu.file.$error.required">*required</i><br>
             <i ng-show="fileBieuMauChungTu.file.$error.maxSize">File too large
               {{errorFile.size / 1000000|number:5}}MB: max 1M</i>
           </div>
         </div>
         <button class="btn btn-fill btn-danger" ng-click="fileBieuMauChungTu.file = null" ng-show="fileBieuMauChungTu.file">Xóa</button>
        <div class="row">
          <div class="col-md-6 col-md-offset-6">
            <button ng-click="submitCreateForm(newBieuMauChungTu, fileBieuMauChungTu.file)" class="btn btn-fill col-md-4 pull-right btn-success">Lưu</button>
            <button style="margin-right: 0.5rem" ng-click="bieuMauChungTuCrud.dismissCreateForm()" class="btn btn-fill col-md-4 pull-right">Trở lại</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
