<div class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="header">
        <div class="row">
          <div class="col-md-3">
            <h5 style="text-transform: uppercase;" class="title col">Thiết kế biểu mẫu <strong>{{bieuMauChunTu.ten}}</strong></h5>
          </div>
        </div>
      </div>
      <div class="content">
        <hr id="design-container" style="width: 99.2%; margin: 0px; border: 0px; outline: none;">
        <div class="row fixme">
          <div class="col-md-2">
            <div class="form-group">
              <label>Tên trường</label>
              <input ng-model="newTruongDuLieu.ten" type="text" class="form-control"></input>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label>Ký hiệu</label>
              <input ng-model="newTruongDuLieu.ky_hieu" type="text" class="form-control"></input>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label>Font family</label>
              <input ng-model="newTruongDuLieu.font_family" type="text" class="form-control"></input>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label>Font size</label>
              <input list="font_sizes" ng-model="newTruongDuLieu.font_size" type="text" class="form-control"></input>
              <datalist id="font_sizes">
                <option value="5">5</option>
                <option value="9">9</option>
                <option value="9.5">9.5</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
              </datalist>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label>Font style</label>
              <input list="font_styles" ng-model="newTruongDuLieu.font_style" type="text" class="form-control"></input>
              <datalist id="font_styles">
                <option value="normal">Normal</option>
                <option value="italics">Italic</option>
                <option value="bold">Bold</option>
              </datalist>
            </div>
          </div>
          <div class="col-md-1">
            <div class="form-group">
              <label></label>
              <button ng-click="submitCreateFormTruongDuLieu(newTruongDuLieu)" class="form-control btn btn-fill btn-success"><i class="fa fa-plus"></i></button>
            </div>
          </div>
          <div class="col-md-1">
            <div class="form-group">
              <label></label>
              <button ng-click="newTruongDuLieu = {}" class="form-control btn btn-fill btn-default"><i class="fa fa-undo"></i></button>
            </div>
          </div>
        </div>
        <br>
        <div id="containment-wrapper" style="background: url('/{{bieuMauChungTu.image_uri}}') no-repeat center !important; background-size: 100% 100% !important;
          width: {{designContainerVw}}vw !important; height: calc({{designContainerVw}}vw * ( {{bieuMauChungTu.page_size.height}} / {{bieuMauChungTu.page_size.width}})) !important;">
            <!-- <div ng-repeat="truongDuLieu in truongDuLieus" id="draggable" class="draggable">{{truongDuLieu.ky_hieu}}</div> -->
            <!-- <img src="/{{bieuMauChungTu.image_uri}}" width="100%" style="z-index: -1; position: absolute; top:0; left: 0; width: 100%; height: 100%"> -->
        </div>
      </div>
    </div>
    <div class="coordinate-viewer">
      <span>Lề trên: <strong id="leTren"></strong> Lề trái:<strong id="leTrai"></strong></span>
      <button ng-show="truongDuLieuActiveId" style="border: none; margin-top: 0.5rem;" ng-click="deleteTruongDuLieuActive()" class="form-control btn btn-fill btn-danger">Xóa</button>
    </div>
  </div>
</div>
