<div class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="header">
        <div class="row">
          <div class="col-md-3">
            <h5 style="text-transform: uppercase;" class="title text-uppercase">Danh sách Bình luận</h5>
          </div>
          <div class="col-md-9 pull-right">
            <a ng-show="showSelection" data-ng-click="showSelection=false" class="btn btn-sm pull-right">
              <i class="fa fa-undo"></i>
              Trở lại
            </a>
            <a ng-show="showSelection" class="btn btn-fill btn-sm btn-danger pull-right">
              <i class="fa fa-trash"></i>
              Xóa
            </a>
            <a ng-show="!showSelection" data-ng-click="showSelection=true" class="btn btn-sm pull-right">
              <i class="fa fa-edit"></i>
              Chọn dòng
            </a>
            <a data-ng-click="binhLuanCrud.openCreateForm('md')" class="btn btn-sm btn-custom pull-right">
              <i class="fa fa-plus"></i>
              Thêm mới Bình luận
            </a>
          </div>
        </div>
      </div>
      <div class="content table-responsive" ng-init="showSelection=false">
        <table class="table table-hover table-striped">
          <thead>
            <th class="col-md-1" ng-show="showSelection">
              <input class="form-control" type="checkbox"/>
            </th>
            <!-- <th class="col-md-1"></th> -->
            <th>ID bài viết</th><th>ID người bình luận</th><th>Tên người bình luận</th><th>Đường dẫn đến trang thông tin của người bình luận</th><th>Địa chỉ ip của người bình luận</th><th>Nội dung bình luận</th><th>Bình luận cha</th><th>Bình luận được chấp nhận</th>
            <th class="col-md-1">Tác vụ</th>
          </thead>
          <tbody>
            <tr>
              <td ng-show="showSelection" class="col-md-1"><input class="form-control" type="checkbox"/></td>
              <!-- <td ng-show="showSelection" class="col-md-1"></td> -->
              <td><select name="bai_viet_id" class="form-control" ng-model="searchBinhLuan.bai_viet_id"
                             ng-options="{{selection_item}}.{{selection_item_value}} as {{selection_item}}.{{selection_item_display}} for selection_item in selection_items" required >
                             <option value=""></option>
</select>
</td><td><select name="nguoi_binh_luan_id" class="form-control" ng-model="searchBinhLuan.nguoi_binh_luan_id"
                             ng-options="{{selection_item}}.{{selection_item_value}} as {{selection_item}}.{{selection_item_display}} for selection_item in selection_items" required >
                             <option value=""></option>
</select>
</td><td><input name="ten_nguoi_binh_luan" ng-model="searchBinhLuan.ten_nguoi_binh_luan" type="text"
  class="form-control" ng-maxlength='255' ></input>
</td><td><input name="ten_nguoi_binh_luan" ng-model="searchBinhLuan.ten_nguoi_binh_luan"
  type="email" class="form-control" ng-maxlength='255' ></input>
</td><td><input name="url_nguoi_binh_luan" ng-model="searchBinhLuan.url_nguoi_binh_luan" type="text"
  class="form-control" ng-maxlength='255' ></input>
</td><td><input name="url_nguoi_binh_luan" ng-model="searchBinhLuan.url_nguoi_binh_luan"
  type="email" class="form-control" ng-maxlength='255' ></input>
</td><td><input name="ip_nguoi_binh_luan" ng-model="searchBinhLuan.ip_nguoi_binh_luan" type="text"
  class="form-control" ng-maxlength='100' ></input>
</td><td><input name="ip_nguoi_binh_luan" ng-model="searchBinhLuan.ip_nguoi_binh_luan"
  type="email" class="form-control" ng-maxlength='100' ></input>
</td><td><input name="noi_dung_binh_luan" ng-model="searchBinhLuan.noi_dung_binh_luan" type="text"
  class="form-control" required  />
</td><td><input name="binh_luan_cha_id" ng-model="searchBinhLuan.binh_luan_cha_id" type="number"
  class="form-control" ></input>
</td><td><div ng-repeat="item in binh_luan_duoc_chap_nhan">
  <input type="radio" ng-model="item.is_selected"> {{item.display_name}}<br>

</td>
              <td>
                <div class="row">
                  <div class="col-md-8">
                    <input class="form-control" placeholder="Tìm kiếm chung" type="text" />
                  </div>
                  <div class="col-md-4">
                    <a class="btn btn-sm btn-block" data-toggle="tooltip" title="Làm sạch các trường tìm kiếm">
                      <i class="fa fa-undo"></i>
                    </a>
                  </div>
                </div>
              </td>
            </tr>
            <tr ng-repeat="(key, binhLuan) in binhLuans | filter:searchText">
              <td ng-show="showSelection" class="col-md-1"><input class="form-control" type="checkbox"/></td>
              <!-- <td>{{key + 1}}</td> -->
              <td>{{binhLuan.bai_viet_id}}</td><td>{{binhLuan.nguoi_binh_luan_id}}</td><td>{{binhLuan.ten_nguoi_binh_luan}}</td><td>{{binhLuan.url_nguoi_binh_luan}}</td><td>{{binhLuan.ip_nguoi_binh_luan}}</td><td>{{binhLuan.noi_dung_binh_luan}}</td><td>{{binhLuan.binh_luan_cha_id}}</td><td>{{binhLuan.binh_luan_duoc_chap_nhan}}</td>
              <!-- <td><span class="label label-success">Duyệt</span></td> -->
              <!-- <td><span class="label label-danger">Duyệt</span></td>
              <td><span class="label label-warning">Duyệt</span></td>
              <td><span class="label label-info">Duyệt</span></td>
              <td><span class="label label-default">Duyệt</span></td> -->
              <td>{{binhLuan.created_at}}</td>
              <td>{{binhLuan.updated_at}}</td>
              <td class="col-md-3">
                <div class="row">
                  <div class="col-md-4  ">
                    <a href="#/binhLuans/{{binhLuan.id}}" class="btn btn-sm btn-block" data-toggle="tooltip" title="Xem">
                      <i class="fa fa-eye"></i>
                    </a>
                  </div>
                  <div class="col-md-4">
                    <a ng-click="openUpdateForm(binhLuan.id)" class="btn btn-sm btn-block" data-toggle="tooltip" title="Chỉnh sửa">
                      <i class="fa fa-pencil"></i>
                    </a>
                  </div>
                  <div class="col-md-4">
                    <a ng-click="binhLuanCrud.deleteModel(binhLuan.id, '')" class="btn btn-sm btn-block" data-toggle="tooltip" title="Xóa binhLuan">
                      <i class="fa fa-trash"></i>
                    </a>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="row">
          <div class="col-md-2">
                <select class="form-control" type="text">
                  <option style="outline: none">5 dòng </option>
                  <option>10 dòng</option>
                  <option>15 dòng</option>
                </select>
          </div>
          <div class="col-md-8 col-md-offset-2 custom-pagination">
            <ul>
              <li><a href="#">«</a></li>
              <li class="active"><a>1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">»</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
