<div class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="header">
        <div class="row">
          <div class="col-md-3">
            <h5 style="text-transform: uppercase;" class="title text-uppercase">Danh sách Đối tượng trỏ tới của đường dẫn</h5>
          </div>
          <div class="col-md-9 pull-right">
            <a ng-show="showSelection" data-ng-click="showSelection=false" class="btn btn-sm pull-right">
              <i class="fa fa-undo"></i>
              Trở lại
            </a>
            <a ng-show="showSelection" class="btn btn-fill btn-sm btn-danger pull-right">
              <i class="fa fa-trash"></i>
              Xóa
            </a>
            <a ng-show="!showSelection" data-ng-click="showSelection=true" class="btn btn-sm pull-right">
              <i class="fa fa-edit"></i>
              Chọn dòng
            </a>
            <a data-ng-click="linkTargetCrud.openCreateForm('md')" class="btn btn-sm btn-custom pull-right">
              <i class="fa fa-plus"></i>
              Thêm mới Đối tượng trỏ tới của đường dẫn
            </a>
          </div>
        </div>
      </div>
      <div class="content table-responsive" ng-init="showSelection=false">
        <table class="table table-hover table-striped">
          <thead>
            <th class="col-md-1" ng-show="showSelection">
              <input class="form-control" type="checkbox"/>
            </th>
            <!-- <th class="col-md-1"></th> -->
            <th>Tên</th><th>Mô tả</th>
            <th class="col-md-1">Tác vụ</th>
          </thead>
          <tbody>
            <tr>
              <td ng-show="showSelection" class="col-md-1"><input class="form-control" type="checkbox"/></td>
              <!-- <td ng-show="showSelection" class="col-md-1"></td> -->
              <td><input name="name" ng-model="searchLinkTarget.name" type="text"
  class="form-control" ng-maxlength='255' required ></input>
</td><td><input name="name" ng-model="searchLinkTarget.name"
  type="email" class="form-control" ng-maxlength='255' required ></input>
</td><td><input name="description" ng-model="searchLinkTarget.description" type="text"
  class="form-control"  />
</td>
              <td>
                <div class="row">
                  <div class="col-md-8">
                    <input class="form-control" placeholder="Tìm kiếm chung" type="text" />
                  </div>
                  <div class="col-md-4">
                    <a class="btn btn-sm btn-block" data-toggle="tooltip" title="Làm sạch các trường tìm kiếm">
                      <i class="fa fa-undo"></i>
                    </a>
                  </div>
                </div>
              </td>
            </tr>
            <tr ng-repeat="(key, linkTarget) in linkTargets | filter:searchText">
              <td ng-show="showSelection" class="col-md-1"><input class="form-control" type="checkbox"/></td>
              <!-- <td>{{key + 1}}</td> -->
              <td>{{linkTarget.name}}</td><td>{{linkTarget.description}}</td>
              <!-- <td><span class="label label-success">Duyệt</span></td> -->
              <!-- <td><span class="label label-danger">Duyệt</span></td>
              <td><span class="label label-warning">Duyệt</span></td>
              <td><span class="label label-info">Duyệt</span></td>
              <td><span class="label label-default">Duyệt</span></td> -->
              <td>{{linkTarget.created_at}}</td>
              <td>{{linkTarget.updated_at}}</td>
              <td class="col-md-3">
                <div class="row">
                  <div class="col-md-4  ">
                    <a href="#/linkTargets/{{linkTarget.id}}" class="btn btn-sm btn-block" data-toggle="tooltip" title="Xem">
                      <i class="fa fa-eye"></i>
                    </a>
                  </div>
                  <div class="col-md-4">
                    <a ng-click="openUpdateForm(linkTarget.id)" class="btn btn-sm btn-block" data-toggle="tooltip" title="Chỉnh sửa">
                      <i class="fa fa-pencil"></i>
                    </a>
                  </div>
                  <div class="col-md-4">
                    <a ng-click="linkTargetCrud.deleteModel(linkTarget.id, '')" class="btn btn-sm btn-block" data-toggle="tooltip" title="Xóa linkTarget">
                      <i class="fa fa-trash"></i>
                    </a>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="row">
          <div class="col-md-2">
                <select class="form-control" type="text">
                  <option style="outline: none">5 dòng </option>
                  <option>10 dòng</option>
                  <option>15 dòng</option>
                </select>
          </div>
          <div class="col-md-8 col-md-offset-2 custom-pagination">
            <ul>
              <li><a href="#">«</a></li>
              <li class="active"><a>1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">»</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
